# Base URL for the application
APP_URL=http://localhost:3000

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=${APP_URL}

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/hono-base

# SMTP / Mail Settings
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
